h3 {color:red;}
input[type=text] {
  font-family: "Times New Roman", Times, serif;
}
input[type=password] {
  font-family: "Times New Roman", Times, serif;
}
input[type=button] {
  font-family: "Times New Roman", Times, serif;
}
input[type=text], input[type=submit], input[type=reset] {
	width:80%;
	padding: 12px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid blue;
	border-radius: 7px;
}
input[type=text] {
	background-color: #3CBC8D;
	color: white;
}
input[type=password] {
	width:80%;
	padding: 12px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 7px;
}
input[type=password] {
	background-color: #3CBC8D;
	color: white;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: #55ff99;
	border: 15px;
	color: red;
	padding: 16px 32px;
	text-decoration: none;
	margin: 6px 8px;
	cursor: crosshair;
