a {     text-align: center;
	text-decoration: none;
	padding-right:255px;
/*buenos dias*/
}
.tabla {text-align: right;
	text-decoration: none;
	padding:255px;
}
.left { text-align: left;
}	
h1 {	text-align: center;	
} 			
