a {     text-align: center;
	text-decoration: none;
	padding:105px;
/*buenos dias*/
}
.right {text-align: right;
	text-decoration: none;
	padding:15px;
}
.left { text-align: left;
}	
h1 {	text-align: center;	
} 			
